.sidebar{
    height: 100%;
    width: 1%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;

}

.sidebar:hover{
    width: 15%;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    font-size: 22px;
    margin-left: 5%;
}


.content{
    margin-left: 15%;
    height: 100%;
    padding: 0 10px;
}

#pad_top{
    margin-top: 10px;
}

