{% extends 'karate/home_page.html' %}

{% block welcome %}{% endblock %}
{% block content %}
    <h3>Edit Attendance Details</h3>
    <br>
    <form method="post">
        {% csrf_token %}
        <div>
            <p>Date taken</p>
            <p>{{ form.date_taken }}</p>
        </div>

        <div>
            <p>Class ID</p>
            <p>{{ form.classroom }}</p>
        </div>

        <div>
            <p>Student</p>
            <p>{{ form.student }}</p>
        </div>

        <div>
            <input class="btn btn-primary" type="submit" value="Update">
            <a href="{% url 'karate:attendance_delete' attendance_record.id %}"><button class="btn btn-danger" type="button">DELETE</button> </a>
        </div>
    </form>
{% endblock %}