{% extends 'karate/admin_home.html' %}

{% block welcome %}{% endblock %}
{% block content %}
    <a href="{% url 'karate:attendance_details' %}">&lt;&lt;&lt;Go back to attendance details</a>
    <h3>Updated Attendance Details</h3>
    <br>
    <form>
        {% csrf_token %}
        <div>
            <p>Date taken</p>
            <p>{{ form.date_taken }}</p>
        </div>

        <div>
            <p>Class ID</p>
            <p>{{ form.classroom }}</p>
        </div>

        <div>
            <p>Student</p>
            <p>{{ form.student }}</p>
        </div>
    </form>
    <a href="{% url 'karate:attendance_details' %}">&lt;&lt;&lt;Go back to attendance details</a>
{% endblock %}