{% extends 'karate/home_page.html' %}

{% block welcome %}{% endblock %}
{% block content %}
    <h3>Edit Class Details</h3>
    <br>
    <form method="post">
        {% csrf_token %}
        <div>
            <p>Class ID</p>
            <p>{{ form.class_id }}</p>
        </div>

        <div>
            <p>Class Level</p>
            <p>{{ form.class_level }}</p>
        </div>

        <div>
            <p>Class Timing</p>
            <p>{{ form.class_timing }}</p>
        </div>

        <div>
            <p>Class Date</p>
            <p>{{ form.class_day }}</p>
        </div>

        <div>
            <input class="btn btn-primary" type="submit" value="Update">
            <a href="{% url 'karate:class_delete' class_record.id %}"><button class="btn btn-danger" type="button">DELETE</button> </a>
        </div>
    </form>
{% endblock %}