{% extends 'karate/admin_home.html' %}

{% block welcome %}{% endblock %}
{% block content %}
    <a href="{% url 'karate:class_details' %}">&lt;&lt;&lt;Go back to class details</a>
    <h3>Updated Class Details</h3>
    <br>
    <form>
        {% csrf_token %}
        <div>
            <p>Class ID</p>
            <p>{{ form.class_id }}</p>
        </div>

        <div>
            <p>Class Level</p>
            <p>{{ form.class_level }}</p>
        </div>

        <div>
            <p>Class Timing</p>
            <p>{{ form.class_timing }}</p>
        </div>

        <div>
            <p>Class Date</p>
            <p>{{ form.class_day }}</p>
        </div>
    </form>
    <a href="{% url 'karate:class_details' %}">&lt;&lt;&lt;Go back to class details</a>
{% endblock %}